:root {
    /* color scheme stuff - I still suck at colors though. */
    --bg-color-1: #e0e0e2;
    --bg-color-2: #7389ae;
    --text-color-1: #b1d9d5;
    --text-color-2: #416788;
    --text-color-3: #333;
    --highlight-color-1: #81d2c7;
    --highlight-color-2: #b5bad0;
}

/* html {
    font-family: sans-serif;
    padding: 1rem;
    background: var(--bg-color-1);
} */

/* body {
    max-width: 80%;
    margin: 0 auto;
    background: var(--bg-color-2);
    padding: 1rem;
} */

.flash {
    margin: 1em 0;
    padding: 1em;
    background: var(--bg-color-1);
    border: 1px solid var(--text-color-3);
}
.nav-item {
    padding: 0 1rem;
    display: block;
}
/* .content {
    padding: 0 1rem 1rem;
    display: flex;
    flex-direction: column;
} */

/* .content > header {
    border-bottom: 1px solid var(--highlight-color-2);
    color: var(--text-color-3);
    display: flex;
    align-items: flex-end;
} */

/* .content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
    padding: 1rem;
} */

/*
.bugs {
    max-width: 50%;
    border: 1px solid rgb(199, 196, 0);
}
*/

/* .bugs {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .bug {
    background-color: lightgray;
    width: 30%;
    border: 1px solid black;
    margin: 0.25rem;
    padding: 0.25rem;

    display: flex;
    flex-direction: column;
    overflow: hidden;
} */
/* 
.bug header {
    background-color: lightcoral;
} */
/* 
.info {
    font-size: 0.5em;
    margin: 0;
} */
/* 
.title {
    color: var(--text-color-2);
} */

/* .details {
    border-bottom: 1px solid white;
    border-top: 1px solid white;    
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
}*/

/* .details p, .details a {
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}


.info > i {
    font-style: italic;
    font-size: 0.5em;
}

.body {
    background-color: lightblue;
    flex-basis: 75%;
    justify-self: flex-start;
}

.bug footer {
    border-top: 1px solid white;
    background-color: lightgreen;
}

.priority-low {
    color: lightblue;
}

.priority-med {
    color: yellow;
}

.priority-high {
    color: red;
}

.status-open {
    color: red;
}

.status-assigned {
    color: yellow;
}

.status-closed {
    color: lightblue;
} */
