<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}{% endblock %} - Issue Tracker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>


<body visibility>
    <header>
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand">Issue Tracker</a>
            <!-- Create issue, locate issue, 
                assuming logins, (ie later)
                login, logout, register, my issues -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bugtracker.index') }}">Current Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bugtracker.create') }}">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bugtracker.search') }}">Search</a>
                </li>
            </ul>
            <!-- Not yet, stick to the plan!
            {% if g.user %}
            {% else %}
            {% endif %}
            -->
        </nav>
    </header>

    <article class="content container">
        <header>{% block header %}{% endblock %}</header>
        
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}

        {% block content %}{% endblock %}
    </article>

    <footer>{% block footer %}{% endblock %}</footer>
</body>

</html>