{% extends 'base.html' %}

{% block description %}

{% endblock %}

{% block header %}
    <h1>{% block title %}New Bug{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" class="col-6">
        <!-- project_id, project_name, bug_title, bug_body, creator_id, creator_name,
            target_id, target_name, status, priority, created_on, last_modified 
        -->
        <!-- Unfortunately, can't really template this form neatly.
            The edit form is slightly different with its values, and it's much messier to
            deal with that, so separate (but similar) forms it is.
        -->
        <div class="row mb-2">
            <div class="form-group col">
                <input class="form-control" name="project_name" id="project_name" placeholder="Project Name" value="{{ request.form.project_name }}" required>
            </div>
            <div class="form-group col">
                <input class="form-control" name="bug_title" id="bug_title" placeholder="Bug Headline" value="{{ request.form.bug_title }}" required>
            </div>
        </div>

        <div class="form-group mb-2">
            <label for="bug_description">Description</label>
            <textarea class="form-control" name="bug_description" id="bug_description" required>{{ request.form.bug_description }}</textarea>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="creator_name">Added By</label>
                <input class="form-control" name="creator_name" id="creator_name" value="{{ request.form.creator_name }}"> <!-- not required, has default -->
            </div>
            <div class="form-group col">
                <label for="assignee">Assign To</label>
                <input class="form-control" name="assignee" id="assignee" value="{{ request.form.assignee }}">
            </div>
        <!--
        </div>
        <div class="row">
        -->
            <div class="form-group col">
                <label for="priority">Priority</label>
                <select class="form-control" name="priority" id="priority">
                    <option value="low" selected>Low</option>
                    <option value="med">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="status">Status</label>
                <select class="form-control" name="status" id="status">
                    <option value="open" selected>Open</option>
                    <option value="assigned">In Progress</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary btn-dark mt-4" type="submit">Create</button>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
