{% extends 'base.html' %}

{% block description %}
The list of all bugs/issues across all projects.
{% endblock %}

{% block header %}
    <h1>{% block title %}Bug List{% endblock %}</h1>
    <!--
    <a href="{{ url_for('bugtracker.create') }}">
        Add bug
    </a>
    -->
{% endblock %}

{% block content %}
    {% if bugs|length < 1 %}
        <article class="empty">
            <p>There are no bugs being tracked right now.</p>
        </article>
    {% else %}
    <div class="bugs">
        {% for bug in bugs %}
            <article class="bug">
                <header>
                    <div>
                        <h1 class="info">
                            <i>#{{ bug.id }}</i> {{ bug.title }} in {{ bug.project }}
                        </h1>
                        <div class='details'>
                            <p class="priority-{{ bug.priority }}">Priority: {{ bug.priority }}</p>
                            <p class="status-{{ bug.status }}">Status: {{ bug.status }}</p>
                            <a class="edit-btn" href="{{ url_for('bugtracker.update', id=bug.id) }}">Edit</a>
                        </div>
                        <!-- Let's just gate this behind the Delete form on the Edit page
                            <a href="{{ url_for('bugtracker.delete', id=bug.id) }}">Delete</a>
                        -->
                    </div>
                </header>
                <p class="body">
                    {{ bug.body }}
                </p>
                <footer>
                    <p class="user-info">
                        <div class="label-info">Submitted by:</div> 
                        <div class="user">{{ bug.creator }}</div>
                        {% if bug.target %}
                        <div class="label-info">Assigned to:</div>
                        <div class="user">{{ bug.target }}</div>
                        {% else %}
                        <div class="note">Unassigned</p>
                        {% endif %}
                    </p>
                    <p class="date-info">
                        <div class="label-info">Created:</div>
                        <div class="date">{{ bug.created }}</div>
                        {% if bug.last_modified != bug.created %}
                        <div class="label-info">Last modified:</div>
                        <div class="date">{{ bug.last_modified }}</div>
                        {% endif %}
                    </p>
                </footer>
            </article>
            <!--
            {% if not loop.last %}
                <hr />
            {% endif %}
            -->
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
