{% extends 'base.html' %}

{% block description %}
The list of all bugs/issues across all projects.
{% endblock %}

{% block header %}
    <h1>{% block title %}Bug List{% endblock %}</h1>
    <!--
    <a href="{{ url_for('bugtracker.create') }}">
        Add bug
    </a>
    -->
{% endblock %}
<!-- TODO: tie In-progress status to assigned user -->

{% block content %}
    {% if bugs|length < 1 %}
        <article class="empty">
            <p>There are no bugs being tracked right now.</p>
        </article>
    {% else %}
    <div class="container">
        <!-- {% with bugs=bugs %} -->
        {% include 'bug_display.html' %}
        <!-- {% endwith %} -->
    </div>
    {% endif %}
{% endblock %}
