{% extends 'base.html' %}

{% block description %}
{% endblock %}

{% block header %}
    <h1>
        {% block title %}Search{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <!--
            'SELECT '
            '   i.id AS id,'
            '   i.title,'
            '   i.body,'
            '   i.status,'
            '   i.priority,'
            '   i.created,'
            '   i.last_modified,'
            '   p.name AS project,'
            '   u1.username AS creator,'
            '   u2.username AS target '
            'FROM issue i '
            'LEFT JOIN project p ON i.project_id = p.id '
            'LEFT JOIN user u1 ON i.creator_id = u1.id '
            'LEFT JOIN user u2 ON i.target_id = u2.id '
            'ORDER BY created DESC'
    -->
    <!-- Search form -->
    <!-- Single search box?
        Lazy bonus - easier to handle the form, easier for user to search.
        As of yet, still limited search, but whatever, that's not the form's fault! -->
    <form method="GET">
        <!--
            TODO: Just add a magnifying glass icon at the start of the bar, yeah?
        <label for="search_term">Search</label>
        TODO: Make this search functionality a little bit more complex.
        -->
        <div class="row mb-3">
            <!-- <div class="form-group col-3"> -->
                <div class="col-3">
                <input class="form-control gx-4" name="search_term" id="search_term" required />
                </div>
                <div class="col-1">
                <button class="btn btn-primary btn-dark form-control" type="submit">Search</button>
                </div>
            <!-- </div> -->
        </div>
    </form>

    <!-- If a search, have search results -->
    <!-- If results|length = 0, message -->
    <!-- If no search, just box and blank -->
    <!--
    { if empty }
        <p class="apology">There are no search results for your query...</p>
    { elif results }
    -->
    <!-- { if results } -->
    <!-- There's probably a better way to reuse the result output... -->
    <p class="result_info">
        {% if results %} Showing {{ results|length }} {% if results|length == 1 %}result{% else %}results{% endif %} for <i>"{{ request.args.get('search_term') }}"</i>
        {% elif request.args %} There were 0 results for your search term.
        {% else %}
        {% endif %}
    </p>
    {% with bugs=results %} <!-- Ew. -->
        {% include 'bug_display.html' %}
    {% endwith %}
{% endblock %}

{% block footer %}
{% endblock %}
