{% extends 'base.html' %}

{% block description %}
{% endblock %}

{% block header %}
    <h1>
        {% block title %}Search{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <!--
            'SELECT '
            '   i.id AS id,'
            '   i.title,'
            '   i.body,'
            '   i.status,'
            '   i.priority,'
            '   i.created,'
            '   i.last_modified,'
            '   p.name AS project,'
            '   u1.username AS creator,'
            '   u2.username AS target '
            'FROM issue i '
            'LEFT JOIN project p ON i.project_id = p.id '
            'LEFT JOIN user u1 ON i.creator_id = u1.id '
            'LEFT JOIN user u2 ON i.target_id = u2.id '
            'ORDER BY created DESC'
    -->
    <!-- Search form -->
    <!-- Single search box?
        Lazy bonus - easier to handle the form, easier for user to search.
        As of yet, still limited search, but whatever, that's not the form's fault! -->
    <form method="GET">
        <!--
            TODO: Just add a magnifying glass icon at the start of the bar, yeah?
        <label for="search_term">Search</label>
        TODO: Make this search functionality a little bit more complex.
        -->
        <div class="row">
            <div class="form-group col-3">
                <input class="form-control" name="search_term" id="search_term" required />
                <button class="btn btn-primary btn-dark form-control" type="submit">Search</button>
            </div>
        </div>
    </form>

    <!-- If a search, have search results -->
    <!-- If results|length = 0, message -->
    <!-- If no search, just box and blank -->
    <!--
    { if empty }
        <p class="apology">There are no search results for your query...</p>
    { elif results }
    -->
    <!-- { if results } -->
    <!-- There's probably a better way to reuse the result output... -->
    <p class="result_info">
        {% if results %} Showing {{ results|length }} result(s)
        {% elif request.args %} There were 0 results for your search term.
        {% else %}
        {% endif %}
    </p>
        <div class="bugs">
        {% for bug in results %}
                <article class="bug">
                <header>
                    <div>
                        <h1 class="info">
                            <i>#{{ bug.id }}</i>: {{ bug.title }}
                            <i>in {{ bug.project }}</i>
                        </h1>
                        <div class='details'>
                            <p class="priority-{{ bug.priority }}">Priority: {{ bug.priority }}</p>
                            <p class="status-{{ bug.status }}">Status: {{ bug.status }}</p>
                            <a class="edit-btn" href="{{ url_for('bugtracker.update', id=bug.id) }}">Edit</a>
                        </div>                        
                    </div>
                </header>
                <p class="body">
                    {{ bug.body }}
                </p>
                <footer>
                    <p class="user-info">
                        <div class="label-info">Submitted by:</div> 
                        <div class="user">{{ bug.creator }}</div>
                        {% if bug.target %}
                        <div class="label-info">Assigned to:</div>
                        <div class="user">{{ bug.target }}</div>
                        {% else %}
                        <div class="note">Unassigned</p>
                        {% endif %}
                    </p>
                    <p class="date-info">
                        <div class="label-info">Created:</div>
                        <div class="date">{{ bug.created }}</div>
                        {% if bug.last_modified != bug.created %}
                        <div class="label-info">Last modified:</div>
                        <div class="date">{{ bug.last_modified }}</div>
                        {% endif %}
                    </p>
                </footer>
            </article>
            <!--
            {% if not loop.last %}
                <hr />
            {% endif %}
            -->
        {% endfor %}
        </div>
    
    <!--{ else }
        <p>{{ results }}</p>
    { endif } -->

{% endblock %}

{% block footer %}
{% endblock %}
