{% extends 'base.html' %}

{% block description %}
{% endblock %}

{% block header %}
    <h1>{% block title %}Edit - <i>(#{{ issue.id }})</i> {{ issue.title }}{% endblock %}</h1>
{% endblock %}

{% block content %}

    <!-- project_id, project_name, bug_title, bug_body, creator_id, creator_name,
    target_id, target_name, status, priority, created_on, last_modified -->
    <form method="POST">
        <label for="project_name">Project</label>
        <input name="project_name" id="project_name" value="{{ request.form.project_name or issue.project }}" required>
        <label for="bug_title">Bug Title</label> <!-- It just occurred to me how silly a 'bug title' is. -->
        <input name="bug_title" id="bug_title" value="{{ request.form.bug_title or issue.title }}" required>
        <label for="bug_description">Description</label>
        <textarea name="bug_description" id="bug_description" required>{{ request.form.bug_description or issue.body }}</textarea>
        <label for="assignee">Assign To</label>
        <input name="assignee" id="assignee" value="{{ request.form.assignee or issue.target }}"> <!-- Goddamnit -->
        <label for="status">Status</label>
        <select name="status" id="status">
            <option disabled hidden selected>Status</option>
            <option value="open">Open</option>
            <option value="assigned">In Progress</option>
            <option value="closed">Closed</option>
        </select>
        <label for="priority">Priority</label>
        <select name="priority" id="priority">
            <option disabled hidden selected>Priority</option>
            <option value="low">Low</option>
            <option value="med">Medium</option>
            <option value="high">High</option>
        </select>
        <input type="submit" value="Update">
    </form>

    <hr />

    <form method="POST" action="{{ url_for('bugtracker.delete', id=issue.id) }}">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
